<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <style>
      .layout {
        transition: 0.2s ease;
      }
      .navigating {
        opacity: 0;
      }
    </style>
  </head>
  <body>
    <div class="app">{{{html}}}</div>
    <script src="/app.js"></script>
  </body>
</html>
